<div fxLayout="row wrap" class="fixedToolbar">

  <div class="title">{{ title }}</div>

  <!--
    <div class="userCart">
        <mat-icon matBadge="{{cart.length}}" matBadgeColor="primary">shopping_cart</mat-icon>
          <span class="cdk-visually-hidden">Items in cart
          </span>
        <button style="margin-left: 25px;" mat-button color="warn" (click)="clearCart()">Clear cart</button>
  
    </div>  -->
  <br />

  <mat-accordion>
    <mat-expansion-panel class="searchPanel" [(expanded)]="searchPanelOpenState">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Search Selection
        </mat-panel-title>
      </mat-expansion-panel-header>


      <!--<div>New Kensington: 229    Butler: 202    Pittsburgh: 203</div> -->
      <mat-form-field style="margin-left: 30px;">
        <select (change)="storeChanged();" matNativeControl placeholder="store" [(ngModel)]="selectedStore"
          name="store">
          <option *ngFor="let store of stores" [value]="store.id">
            {{store.name}}
          </option>
        </select>
      </mat-form-field>

      <mat-form-field style="margin-left: 30px;">
        <select matNativeControl placeholder="filter" [(ngModel)]="selectedFilter"
          name="filter">
          <option *ngFor="let filter of filters" [value]="filter">
            {{filter}}
          </option>
        </select>
      </mat-form-field>

      <mat-form-field style="margin-left: 30px;">
        <select matNativeControl placeholder="category" [(ngModel)]="selectedCategory" name="category">
          <option *ngFor="let cat of categories" [value]="cat">
            {{cat}}
          </option>
        </select>
      </mat-form-field>

      <mat-form-field style="margin-left: 30px;" class="example-form-field">
        <input matInput type="text" placeholder="Search Text" [(ngModel)]="searchText">
      </mat-form-field>

      <button (click)="search(); searchPanelOpenState=searchPanelOpenState?false:true;" mat-button
        color="primary">Search</button>
    </mat-expansion-panel>
  </mat-accordion>


  <!--
    <mat-form-field style="margin-left: 30px;"  class="example-form-field">
        <input matInput type="text" placeholder="hours" [(ngModel)]="newWithinHours">
      </mat-form-field>-->

</div>
 

<div *ngIf="isLoading" class="loading">Loading&#8230;</div>

<div class="content">
  <div *ngIf="newItems.length > 0">
      <new-items *ngIf="newItems && newItems.length > 0" [currentScreenSize]="currentScreenSize" [items]="newItems"
          [newWithinHours]="newWithinHours">
        </new-items>
  </div>
 <div *ngFor="let item of items">
    <div *ngIf="item[0].category === 'flower'">
        <flowers *ngIf="selectedCategory === 'all' || selectedCategory === 'flower'" [currentScreenSize]="currentScreenSize"
        [items]="item" [selectedFilter]="selectedFilter" [sortBy]="sortBy">
      </flowers>
     </div>
     <div *ngIf="item[0].category === 'vapes'">
        <vapes *ngIf="selectedCategory === 'all' || selectedCategory === 'vapes'" [currentScreenSize]="currentScreenSize"
        [items]="item" [selectedFilter]="selectedFilter" [sortBy]="sortBy">
     </vapes>
     </div>
     <div *ngIf="item[0].category === 'concentrates'">
        <concentrates *ngIf="selectedCategory === 'all' || selectedCategory === 'concentrates'" [currentScreenSize]="currentScreenSize"
        [items]="item" [selectedFilter]="selectedFilter" [sortBy]="sortBy">
      </concentrates>
     </div>
     <div *ngIf="item[0].category === 'tinctures'">
        <tinctures *ngIf="selectedCategory === 'all' || selectedCategory === 'tinctures'" [currentScreenSize]="currentScreenSize"
        [items]="item" [selectedFilter]="selectedFilter" [sortBy]="sortBy">
      </tinctures>
     </div>
     <div *ngIf="item[0].category === 'capsules'">
        <capsules *ngIf="selectedCategory === 'all' || selectedCategory === 'capsules'" [currentScreenSize]="currentScreenSize"
        [items]="item" [selectedFilter]="selectedFilter" [sortBy]="sortBy">
     </capsules>
     </div>
     <div *ngIf="item[0].category === 'topicals'">
        <topicals *ngIf="selectedCategory === 'all' || selectedCategory === 'topicals'" [currentScreenSize]="currentScreenSize"
        [items]="item" [selectedFilter]="selectedFilter" [sortBy]="sortBy">
     </topicals>
     </div>
     <div *ngIf="item[0].category === 'accessories'">
        <accessories *ngIf="selectedCategory === 'all' || selectedCategory === 'accessories'" [currentScreenSize]="currentScreenSize"
        [items]="item" [selectedFilter]="selectedFilter" [sortBy]="sortBy">
     </accessories>
     </div>
 </div>

  <div *ngIf="(items.length === undefined || items.length === 0) && searchComplete">
    <mat-card>No Items Found.</mat-card>
  </div> 
</div>
<router-outlet></router-outlet>