<!--The content below is only a placeholder and can be replaced.-->
<!--<div style="text-align:center">
  <h1>
    {{ title }}
  </h1> 
</div> -->
<mat-toolbar> {{ title }}</mat-toolbar>

<mat-form-field class="example-form-field">
  <input matInput type="text" placeholder="Search Text" [(ngModel)]="searchText">
</mat-form-field>

<button (click)="search()" mat-button color="primary">Search</button>
<div style="height:10px;"></div>

<div *ngIf="fullMenu && fullMenu.total_rows > 0">
  <div *ngFor="let item of fullMenu.data | sortBy: 'category':'asc' let lastCat = item.catgetory">
      <!--<div>type: {{ item.category }}  Name: {{ item.name }}</div>-->
      <mat-card>
        <h4>{{ item.category }}</h4>
        <h5>{{ item.name }}</h5>
      </mat-card>
  </div>
</div>

<div *ngIf="fullMenu.total_rows === undefined && searchComplete">
  <mat-card>No Items Found.</mat-card>
</div>

<router-outlet></router-outlet>
