<h1 fxLayoutAlign="center" mat-dialog-title>

  {{getDisplayName(data)}}
</h1>

<div fxLayout="column" mat-dialog-content [ngStyle.xs]="{
   'font-size': '12px'
 }">

  <div *ngIf="showImage && data.showImage && data.product">
    <img mat-card-sm-image style="width: auto; height: 250px; margin: auto; display: block;" [src]="showImage && data.product.image_url_main"
      default="{{data.product.image_url_alt}}" />
  </div>
  <div *ngIf="showImage && data.showImage && !data.product">
    <img mat-card-sm-image style="width: auto; height: 250px; margin: auto; display: block;" [src]="'assets/images/default.jpg'" />
  </div> 

  <div *ngIf="!showImage" fxLayout="row wrap">
    <p>{{ getDescription(data) }}</p>
    <div style="margin: 0 30px 0 30px;">
      <h5>Type</h5>
      <p>{{ getType(data) }}</p>
    </div>
    <div style="margin: 0 30px 0 30px;">
      <h5>THC</h5>
      <p>{{ data.bt_potency_thc || 0 | number:'1.1-1' }}%</p>
    </div>
    <div style="margin: 0 30px 0 30px;">
      <h5>THCA</h5>
      <p> {{ data.bt_potency_thca || 0 | number:'1.1-1'}}% </p>
    </div>
    <div *ngIf="data.bt_potency_cbd > 0" style="margin: 0 30px 0 30px;">
      <h5>CBD</h5>
      <p> {{ data.bt_potency_cbd || 0 | number:'1.1-1' }}%</p>
    </div>
    <div *ngIf="data.product_strain && data.product_strain.lineage" style="margin: 0 30px 0 30px;">
      <h5>Lineage</h5>
      <p>{{ data.product_strain.lineage }}</p>
    </div>
    <div *ngIf="data.product_strain && data.product_strain.flavors && data.product_strain.flavors.length > 0"
      style="margin: 0 30px 0 30px;">
      <h5>Flavors</h5>
      <p>{{ data.product_strain.flavors }}</p>
    </div>
    <div *ngIf="data.product_strain && data.product_strain.terpenes && data.product_strain.terpenes.length > 0"
      style="margin: 0 30px 0 30px;">
      <h5>Terpenes</h5>
      <p>{{ data.product_strain.terpenes }}</p>
    </div>

    <div *ngIf="data.product_strain && data.product_strain.effects && data.product_strain.effects.length > 0"
      style="margin: 0 30px 0 30px;">
      <h5>Effects</h5>
      <div fxLayout="row wrap">
        <div *ngFor="let s of data.product_strain.effects; index as i;">
          <div *ngIf="data.product_strain.effects.length > i + 1">{{s}}, &nbsp;</div>
          <div *ngIf="i + 1 >= data.product_strain.effects.length">{{s}}</div>
        </div>
      </div>

    </div>
    <div *ngIf="data.product_strain && data.product_strain.symptoms &&  data.product_strain.symptoms.length > 0"
      style="margin: 0 30px 0 30px;">

      <h5>Symptoms</h5>
      <div fxLayout="row wrap">
        <div *ngFor="let s of data.product_strain.symptoms; index as i;">
          <div *ngIf="data.product_strain.symptoms.length > i + 1">{{s}}, &nbsp;</div>
          <div *ngIf="i + 1 >= data.product_strain.symptoms.length">{{s}}</div>
        </div>
      </div>
    </div>
    <!--
      <mat-chip-list fxLayoutAlign="center" style="position:absolute;bottom: 0; margin-bottom: 5px;">
          <div class="muted" 
          [ngStyle.xs]="{
            'font-size': '10px'
          }"
          [ngStyle]="{
            'font-size': '12px'
          }"
          >
              Added: {{ item.created_ago }}
              <br/>
            </div>
        <mat-chip *ngFor="let price of item.price_point.prices"
          style="font-size: 10px; background-color: #499b4a;">${{price.price}}<div
            *ngIf="item.category==='flower'">&nbsp;/&nbsp;{{price.weight}}G</div>
        </mat-chip>
        <br />

      </mat-chip-list>
    -->

  </div>
 

</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()">Close</button>
  <button *ngIf="!showImage" mat-button (click)="displayImage()">Show Item</button>
  <button *ngIf="showImage" mat-button (click)="hideFlower()">Hide Item</button>

  <!-- <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Add to cart</button>-->
</div>
  