<h1 
  align="center" mat-dialog-title>
     
        {{getDisplayName(data)}} 
</h1>

<div
[ngStyle.xs]="{'height': '160px', 'overflow-y': 'auto'}"
 fxLayout="column" fxLayoutAlign="center" mat-dialog-content>    
    <div align="center" *ngIf="data.product && data.product_strain">
        <img 
        [ngStyle.md]="{
          width: 'auto',
          'height': '200px',
          'margin': 'auto'
        }"
        [ngStyle.sm]="{
          width: 'auto',
          'height': '110px',
          'margin-top': '10px'
        }"
        [ngStyle.xs]="{
          width: 'auto',
          'height': '100px',
          'margin': 'auto'
        }"
        *ngIf="data.product.image_url_main || data.product_strain.image_url_main"
        [src]="data.product_strain.image_url_main" 
        default="{{data.product.image_url_main}}" 
        />
    </div>

    <div
    [ngStyle.xs]="{'font-size': '10px'}" 
     *ngIf="data.product_strain && data.product_strain.description" style="font-size: 16px;">{{ data.product_strain.description }}</div>

</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()">Close</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Add to cart</button>
</div>

<!--

    <div *ngIf="item.product_strain && item.product_strain.description" style="font-size: 16px;">{{ item.product_strain.description }}</div>
            <div *ngIf="item.product_strain && item.product_strain.lineage">Lineage: {{ item.product_strain.lineage }}</div>
            <div *ngIf="item.product_strain && item.product_strain.flavors">Flavors: {{ item.product_strain.flavors }}</div>
            <div *ngIf="item.product_strain && item.product_strain.effects">Effects: {{ item.product_strain.effects }}</div>
            <div *ngIf="item.product_strain && item.product_strain.symptoms !== null">Symptoms: {{ item.product_strain.symptoms }}</div>
            <div>thc: {{ item.bt_potency_thc || 0 }}%</div>
            <div>thca: {{ item.bt_potency_thca || 0 }}%  </div>
            <div>cbd: {{ item.bt_potency_cbd || 0 }}%</div>
            <div>price: ${{ item.price_point.prices[0].price}}</div>
            <div>quantity remaining: {{ item.bt_remaining_quantity }}</div>
            <div *ngIf="item.product_strain && item.product_strain.indica_pct">indica: {{ item.product_strain.indica_pct }}%</div>
            <div *ngIf="item.product_strain && item.product_strain.sativa_pct">sativa: {{ item.product_strain.sativa_pct }}%</div>
          <div *ngIf="item.product_strain && item.product_strain.strain_type">strain type: {{item.product_strain.strain_type}}</div>
-->